---
interface Props {
  id: string;
  src: string;
  cardTitle: string;
  cardText: string;
}

const { id, src, cardTitle, cardText } = Astro.props;
---

<div class="col-12 col-md-6 col-lg-4">
  <div class="card card-trat shadow-lg">
    <a
      href="#"
      class="text-decoration-none"
      type="button"
      data-bs-toggle="modal"
      data-bs-target={id}
    >
      <img src={src} class="card-img" alt={cardTitle} />
      <div class="card-img-overlay text-center">
        <h5 class="card-title text-black">{cardTitle}</h5>
        <p class="card-text">{cardText}</p>
        <a
          href="/#"
          type="button"
          data-bs-toggle="modal"
          data-bs-target={id}
          class="btn btn-primary shadow position-absolute bottom-0 start-50 translate-middle-x mb-3"
          >Ver mas</a
        >
      </div>
    </a>
  </div>
</div>
