---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  id: string;
  cardImg: string;
  cardTitle: string;
  cardText: string;
}

const { id, cardImg, cardTitle, cardText } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/img/*.{jpeg,jpg,png,gif}"
);
if (!images[cardImg])
  throw new Error(
    `"${cardImg}" does not exist in glob: "/src/assets/img/*.{jpeg,jpg,png,gif}"`
  );
---

<div class="col-12 col-md-6 col-lg-4">
  <a
    href="#"
    class="text-decoration-none"
    type="button"
    data-bs-toggle="modal"
    data-bs-target={id}
  >
    <div class="card card-trat shadow-lg">
      <Image
        src={images[cardImg]()}
        class="card-img"
        alt={cardTitle}
        height={250}
      />
      <div class="card-img-overlay text-center">
        <h5 class="card-title text-black">{cardTitle}</h5>
        <p class="card-text">{cardText}</p>
        <a
          href="/#"
          type="button"
          data-bs-toggle="modal"
          data-bs-target={id}
          class="btn btn-primary shadow position-absolute bottom-0 start-50 translate-middle-x mb-3"
          >Ver mas</a
        >
      </div>
    </div>
  </a>
</div>
