---
import Modal from "./modal.astro";
import CardTrata from "./card-trata.astro";
import Tratamientos from "../data/tratamientos.json";
import ModalTrata from "../data/modal-tratamientos.json";
---

<section class="container section-2">
  <div class="row">
    <div class="col text-center mb-3">
      <h2>TRATAMIENTOS ODONTOLÓGICOS</h2>
      <p>
        En <b>ESPACIO ODONTOLÓGICO</b> nos ocupamos del diagnóstico y de tratamientos
        terapéuticos y estéticos.
      </p>
    </div>

    <div class="col-12">
      <div
        class="row gax-3 d-flex justify-content-around wow animate__animated animate__bounceIn animate__slow"
      >
        {
          Tratamientos.map((tratamientos) => {
            return (
              <CardTrata
                id={tratamientos.id}
                cardImg={tratamientos.cardImg}
                cardTitle={tratamientos.cardTitle}
                cardText={tratamientos.cardText}
              />
            );
          })
        }
      </div>
    </div>
  </div>
</section>

{
  ModalTrata.map((modalTrata) => {
    return (
      <Modal
        id={modalTrata.id}
        cardImgModal={modalTrata.cardImgModal}
        cardTitleModal={modalTrata.cardTitleModal}
        cardPreg1={modalTrata.cardPreg1}
        cardRes1={modalTrata.cardRes1}
        cardPreg2={modalTrata.cardPreg2}
        cardRes2={modalTrata.cardRes2}
        cardPreg3={modalTrata.cardPreg3}
        cardRes3={modalTrata.cardRes3}
        cardPreg4={modalTrata.cardPreg4}
        cardRes4={modalTrata.cardRes4}
      />
    );
  })
}
